<?xml version="1.0"?>

<robot name="vehicle_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="wheel_friction" value="1.2" />
  <xacro:arg name="pub_odom" default="false"/>
  <xacro:arg name="pub_tf" default="false"/>
  <xacro:arg name="roboname" default="vehicle"/>

  <gazebo reference="base_link" >
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
  </gazebo>

  <!-- <gazebo reference="base_link">
    <material>Gazebo/Yellow</material>
  </gazebo> -->

  </robot>
 
